@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Inter';
        font-weight: 400;
        font-style: normal;
        src: url(../fonts/Inter/Inter-Regular.woff) format('woff');
    }
    @font-face {
        font-family: 'Inter';
        font-weight: 400;
        font-style: italic;
        src: url(../fonts/Inter/Inter-Italic.woff) format('woff');
    }
    @font-face {
        font-family: 'Inter';
        font-weight: 700;
        font-style: normal;
        src: url(../fonts/Inter/Inter-Bold.woff) format('woff');
    }
    @font-face {
        font-family: 'Inter';
        font-weight: 700;
        font-style: italic;
        src: url(../fonts/Inter/Inter-BoldItalic.woff) format('woff');
    }
    @font-face {
        font-family: 'Inter';
        font-weight: 300;
        font-style: normal;
        src: url(../fonts/Inter/Inter-Light.woff) format('woff');
    }
    @font-face {
        font-family: 'Inter';
        font-weight: 300;
        font-style: italic;
        src: url(../fonts/Inter/Inter-LightItalic.woff) format('woff');
    }
    @font-face {
        font-family: 'Computer Modern';
        font-weight: 400;
        font-style: normal;
        src: url(../fonts/ComputerModern/ComputerModern-Regular.woff)
            format('woff');
    }
    @font-face {
        font-family: 'Computer Modern';
        font-weight: 400;
        font-style: italic;
        src: url(../fonts/ComputerModern/ComputerModern-Italic.woff)
            format('woff');
    }
    @font-face {
        font-family: 'Computer Modern';
        font-weight: 700;
        font-style: normal;
        src: url(../fonts/ComputerModern/ComputerModern-Bold.woff)
            format('woff');
    }
    @font-face {
        font-family: 'Computer Modern';
        font-weight: 700;
        font-style: italic;
        src: url(../fonts/ComputerModern/ComputerModern-BoldItalic.woff)
            format('woff');
    }
}

body {
    @apply w-full h-full bg-gray-100 font-sans antialiased text-gray-700 text-base;
}

.form-field {
    @apply border border-gray-400 rounded-md w-full focus:outline-none focus:ring-1 focus:ring-gray-800 focus:border-gray-800 text-base px-2 sm:px-3 placeholder-gray-600 transition duration-200 disabled:bg-gray-100;
}

.form-floating {
    @apply relative;
}

.form-floating > .form-field,
.form-floating > .form-select {
    height: calc(3.5rem + 2px);
    @apply py-4 px-3 placeholder-transparent;
}

.form-floating > label {
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    @apply py-4 px-3 absolute top-0 left-0 h-full pointer-events-none border border-solid border-transparent text-gray-700 text-base;
}

@media (prefers-reduced-motion: reduce) {
    .form-floating > label {
        transition: none;
    }
}

.form-floating > .form-field:not(:-moz-placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating > .form-field:focus,
.form-floating > .form-field:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating > .form-field:-webkit-autofill {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating > .form-select {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}

.form-floating > .form-field:not(:-moz-placeholder-shown) ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .form-field:focus ~ label,
.form-floating > .form-field:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}

.form-floating > .form-field:-webkit-autofill ~ label {
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
